@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
html,body{
    font-family: 'Montserrat', sans-serif !important;
}
.hero-bg-image {
    background: url('https://images.unsplash.com/photo-1475070929565-c985b496cb9f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80') no-repeat center center /cover;
    background-attachment: fixed;
    height: 600px;
}